<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='..\static\css\styles.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Send Email</title>
</head>
<body>
    <div class="inner">

  <script>
  function myAlert() {
    return(
      alert("Email Sent!")

    );
  }
  </script>
  <div class="header">
    <h4 id="app-title">TITLE OF APP</h4>
    <a href="fileupload2.html" style="color:white">
        <i id="home-screen" class="material-icons" style="font-size:35px;" >home</i>
    </a>
  </div>
    <form>
        <div class="form-group row">
          <label for="inputEmail1" class="col-sm-2 col-form-label">Your Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail2" class="col-sm-2 col-form-label">Your Doctor's Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email Body</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Explain to your doctor when your skin lesion appeared." rows="5"></textarea>
          </div>
        </div>
        
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
            <label class="form-check-label" for="exampleCheck1">Attach your image</label>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" onclick="myAlert()">Submit</button>
          </div>
        </div>

    </form>

    </div>
</body>
</html>