<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <!-- Required meta tags -->
	  	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
        <!-- External CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
  
        <title>insert title</title>
        <link rel="stylesheet" href='css/styles.css'>
    </head>

    <body>

        <section class="intro">
            <div class="container">
                <h4>Learn more about the different types of skin lesions!</h4>
            </div>
        </section>
        

        <section class="lesions">
            <div class="container">
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/assets/akiec.png" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Actinic Keratoses</h5>
                          <p class="card-text">A very early form of skin cancer that's easily treatable. The main sign is a red, scaly patch on the skin.</p>
                          <a href="https://www.mayoclinic.org/diseases-conditions/actinic-keratosis/symptoms-causes/syc-20354969" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/assets/bcc.png" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Basal Cell Carcinoma</h5>
                          <p class="card-text">These cancers usually start in the basal cell layer and develop on sun-exposed areas like the face and neck.</p>
                          <a href="https://www.mayoclinic.org/diseases-conditions/basal-cell-carcinoma/symptoms-causes/syc-20354187" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/assets/bkl.png" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Benign Keratosis</h5>
                          <p class="card-text">A common noncancerous skin growth. They look waxy, scaly and slightly raised. They appear on the head, neck, chest or back.</p>
                          <a href="https://www.mayoclinic.org/diseases-conditions/seborrheic-keratosis/symptoms-causes/syc-20353878" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/assets/df.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Dermatofibroma</h5>
                          <p class="card-text">Harmless growths within the skin with a small diameter. Feels like small stones underneath or raised above the skin.</p>
                          <a href="https://www.medicalnewstoday.com/articles/318870" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/assets/mel.png" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Melanoma</h5>
                          <p class="card-text">The most serious type of skin cancer. A change in the colour, size or shape of a mole is usually the first sign of melanoma.</p>
                          <a href="https://www.mayoclinic.org/diseases-conditions/melanoma/symptoms-causes/syc-20374884" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/assets/nv.png" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Melanocytic Nevi (Moles)</h5>
                          <p class="card-text">Benign neoplasms or hamartomas composed of melanocytes, the pigment-producing cells in the epidermis.</p>
                          <a href="https://www.mayoclinic.org/diseases-conditions/moles/symptoms-causes/syc-20375200" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/assets/ang.png" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Angiomas</h5>
                          <p class="card-text">Benign tumors derived from cells of the vascular/lymphatic vessel walls. Might indicate systemic problems like liver disease.</p>
                          <a href="https://www.healthline.com/health/cherry-angioma" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/assets/pg.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Pyogenic Granuloma</h5>
                          <p class="card-text">Skin growths that are small, round, and usually bloody red in colour. They tend to bleed due to a large number of blood vessels.</p>
                          <a href="https://www.healthline.com/health/pyogenic-granuloma" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/assets/question.png" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Try it out!</h5>
                          <p class="card-text">Upload an image and read up on the diagnosis. The ML model is trained using the HAM10000 dataset.</p>
                          <a href="./fileupload2.html" class="btn btn-primary">Home Screen</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </body>

</html>